body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainContainer{
	margin-left: auto;
    margin-right: auto;
    width: 85%;
	
}

.dropbtn {
	background-color: #f7f7f9;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
	background-color: white;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #bfbfbf}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f7f7f9;
}

.nav-item .dropdown-toggle{
    cursor: pointer;
}




.form-inline{
	margin-left: 50px;
}

.logged-in-user{
	margin-left:300px;
}

.col-md-2:first-child{
border-radius: 5px 0px 0px 5px;
}
.col-md-2:last-child{
border-radius: 0px 5px 5px 0px;
}

.row {
    padding: 5px;
}


.col-md-2 {
    background-color: #e3e3e3;
	height: 40px;
}

.col-md-2 a{
padding: 15px;
}

.navbar-form .form-control{
    width: 150%;

}

