body {
	margin-top: 20px;
	margin-bottom: 50px;
	background: url(../images/background.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

table {
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 10px;
}